# Build output
build/
*.vcd
*.fst
digital/74hc595-74hc165-tests.txt
*.pdf

# KiCad
*-backups/
*.kicad_prl
*.lck
fp-info-cache
_autosave-*

# Python
.venv/
__pycache__/

# Jupyter
.ipynb_checkpoints/

# Gowin EDA
ide/**/impl/
ide/**/*.gprj.user

# macOS
.DS_Store
